.homepage .homeSec .grid_layer {
   padding-top: 7rem;
   overflow-x: hidden;
}
.homepage .homeSec .img_grid {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem 0 3rem 0;
}
.homepage .homeSec img {
   max-width: 35rem;
   max-height: 35rem;
   border-radius: 50%;
   border: 2rem solid var(--light_green);
}
.homepage .homeSec .content_grid {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 2rem 0 3rem 0;
}

.homepage .homeSec .text_transition {
   font-size: 2.5rem;
   color: var(--gray);
}
.homepage .homeSec .text_name {
   font-size: 5rem;
   font-weight: 600;
   color: var(--white);
}
.homepage .homeSec .text_details {
   font-size: 1.8rem;
   font-weight: 500;
   color: var(--gray);
}

@media (max-width: 900px) {
   .homepage .homeSec .grid_layer {
      padding-top: 20rem;
   }
}
@media (max-width: 768px) {
   .homepage .homeSec .grid_layer {
      padding-top: 20rem;
   }
   .homepage .homeSec .content_grid {
      align-items: center;
      padding: 2rem 2rem 3rem 1rem;
   }
}
@media (max-width: 450px) {
   .homepage .homeSec .text_name {
      font-size: 4rem;
   }
   .homepage .homeSec .grid_layer {
      padding-top: 30rem;
   }
   .homepage .homeSec .content_grid {
      text-align: center;
   }
}
