.about_page {
   background: var(--glass_green);
   margin-top: 4rem;
   padding-bottom: 4rem;
   border-left: var(--glass_border);
   min-height: 55rem;
   backdrop-filter: var(--glass_backdrop_filter);
   overflow-x: hidden;
}
.about_page .resume .resume_left,
.about_page .resume .resume_right {
   padding: 0 1.5rem;
}
.about_page .resume .resume_left h3,
.about_page .resume .resume_right h3 {
   font-size: 2.5rem;
   color: var(--white);
   letter-spacing: 0.2rem;
}
.about_page .resume .resume_left hr,
.about_page .resume .resume_right hr {
   width: 30%;
}
.about_page .resume .resume_left .education,
.about_page .resume .resume_right .experience {
   padding: 3rem 0 1rem 3rem;
   margin-left: 1rem;
   margin-top: 2rem;
   border-left: 1px solid var(--white);
   position: relative;
}
.about_page .resume .resume_left .education h3 {
   font-size: 2rem;
   color: var(--gray);
}
.about_page .resume .resume_left .education h4 {
   position: absolute;
   font-size: 1rem;
   padding: 0.4rem 1.5rem;
   border: 1px solid var(--gray);
   border-radius: 3rem;
   color: var(--gray);
   top: 0.7rem;
   left: -1.5rem;
   background: #033a42;
   z-index: 1000;
}
.about_page .resume .resume_left .education h5 {
   color: #095561;
   font-size: 1.5rem;
}
.about_page .resume .resume_left .education p,
.about_page .resume .resume_right .experience p {
   font-size: 1.2rem;
   color: var(--gray);
}
.about_page .skill_wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}

.about_page .skill_wrapper .skill {
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   background: rgba(0, 0, 0, 0.2);
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(40px);
   max-width: 25rem;
   max-height: 25rem;
   padding: 4rem;
   margin: 2rem auto;
}
.about_page .skill_wrapper .skill:hover {
   transform: translateY(-10px);
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
   transition: all 0.2s linear;
}
.CircularProgressbar .CircularProgressbar-text {
   font-size: 2rem;
   color: #777 !important;
}
.about_page .skill_wrapper .skill .skill_name {
   text-align: center;
   color: #fff;
   font-size: 2rem;
   margin-top: 0.7rem;
}
.about_page
   .skill_wrapper
   .skill:hover
   .CircularProgressbar
   .CircularProgressbar-text {
   font-size: 3rem;
   color: #fff;
   transition: all 0.2s linear;
}
@media (max-width: 1024px) {
   .about_page {
      margin-top: 3rem;
   }
}
@media (max-width: 768px) {
   .about_page {
      margin-top: 2rem;
      padding-left: 0rem;
   }
}
@media (max-width: 450px) {
   .about_page {
      margin-top: 0rem;
   }
}
