@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
   --gradient_bg: linear-gradient(
      to right bottom,
      #48dd81,
      #00d6a4,
      #00cdbe,
      #00c2cf,
      #06b6d4
   );
   --poppins: "Poppins", sans-serif;
   --nunito: "Nunito", sans-serif;
   --body_dark: #161616;
   --header_bg: #434343;
   --light_dark: #444444;
   --light_green: rgba(5, 126, 55, 0.192);
   --green_dark: #022e35;
   --glass_green: #022e35;
   --cyan: #06b6d4;
   --green: #4ade80;
   --gray: #d5d5d5;
   --white: #f5f5f5;
   --orange: #ffa500;
   --glass_effect: rgba(0, 0, 0, 0.4);
   --glass_shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
   --glass_border: 1px solid rgba(255, 255, 255, 0.5);
   --glass_backdrop_filter: blur(5px);
   --hide_bar: polygon(0 0, 100% 0, 100% 0, 0 0);
   --open_bar: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   --change: all 0.3s ease-in-out;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: var(--nunito);
}
body {
   background: var(--gradient_bg);
}

html {
   font-family: var(--poppins);
   font-size: 62.5%;
   scroll-behavior: smooth;
}
.heading {
   color: white;
   margin: 3rem 0 4rem 0;
   text-align: center;
   font-size: 2rem;
   color: var(--green);
   font-weight: normal;
   font-family: var(--nunito);
}

.btn {
   padding: 1rem 2rem;
   border: 0.1rem solid var(--gray);
   font-size: 1.5rem;
   color: var(--gray);
   border-radius: 2rem;
   background: var(--light_green);
   margin: 2rem 0.5rem 1rem 0.5rem;
}

.btn:hover {
   background: var(--cyan);
   color: var(--body_dark);
   transition: var(--change);
}
.swiper-pagination-fraction {
   color: var(--green);
}
@media (max-width: 1200px) {
   html {
      font-size: 59%;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 55%;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 52%;
   }
}
@media (max-width: 450px) {
   html {
      font-size: 48%;
   }
}
