.homepage {
   background: var(--glass_effect);
   background: var(--glass_green);
   margin-top: 4rem;
   padding-bottom: 4rem;
   border-left: var(--glass_border);
   min-height: 55rem;
   backdrop-filter: var(--glass_backdrop_filter);
}
::-webkit-scrollbar {
   display: none;
}
@media (max-width: 1024px) {
   .homepage {
      margin-top: 2rem;
   }
}
@media (max-width: 768px) {
   .homepage {
      margin-top: 0.4rem;
   }
}
